.renducontact {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  background: #2196f3;
  color: #fff;
  border-radius: 7px;
  padding: 2px;
  align-self: flex-start;
  padding-left: 10px;
}
.name{

align-self: flex-start;

}