.home {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.prez-1, .prez-2 {
  margin-bottom: 20px;
}

.actualites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 750px;
  margin: 20px;
  }
  
.actu-1, .actu-2, .actu-3, .actu-4 {
  grid-area: 1 / 1 / 2 / 3;
  display: none;
  transition: 0.5s;
}

.actu-1.active, .actu-2.active, .actu-3.active, .actu-4.active {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.boutons {
  display: flex;
  flex-direction: row;
}
.boutonActu { 
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 700%;
  width: 11vw;
  cursor: pointer;
  height: 50vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.actualites img {
  width: 100%;
  border-radius: 0px 40px 0px 40px;
  margin: 10px;
}

.containerActus {

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70vh;

}

@media (max-width: 800px) {  


.actualites {

width: 100%;
margin: 20px 0px 20px 0px;

}

.actualites img {
width: 100%;
border-radius: 0px 40px 0px 40px;
  
}

.actualites span {
    padding: 0px 10px 10px 10px;
  }


h2 {
  margin-bottom: 20px;
}


.containerPrez {

padding: 20px 20px 20px 20px;

}

.containerActus {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46vh;
}

.boutons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}


.boutonActu { 
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 700%;
  width: 5vw;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.boutonActuPrecedentMobile {
  transform: translateX(10vw);
  width: 75%;
  position: absolute;
  height: 50%!important;
  color: transparent;


}

.boutonActuSuivantMobile {
  transform: translateX(-25vw);
  width: 50vw;
  position: absolute;
  height: 50%!important;
  color: transparent;
  overflow-x: hidden;


}




}
