.saisiemessage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.saisieMessage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 10px;
}

.envoi {
  display: flex;
  background-color: rgb(255, 82, 82);
  color: white;
  padding-right: 19px;
  padding-left: 20px;
  height: 4vh;
  border-radius: 10px;
  align-items: center;
}

@media (max-width: 650px) { 

  .envoi {
    display: flex;
    background-color: rgb(255, 82, 82);
    color: white;
    padding-right: 19px;
    padding-left: 20px;
    height: 6vh;
    border-radius: 10px;
    align-items: center;
  }


 }